<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.strvacademy.drabekj.movieapp">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

	<application
		android:name="com.strvacademy.drabekj.movieapp.MoviesApplication"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity
			android:name="com.strvacademy.drabekj.movieapp.ui.main.MainActivity"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<meta-data
				android:name="android.app.searchable"
				android:resource="@xml/searchable" />
		</activity>
		<activity android:name="com.strvacademy.drabekj.movieapp.ui.moviedetail.MovieDetailActivity" />
		<activity android:name="com.strvacademy.drabekj.movieapp.ui.actordetail.ActorDetailActivity" />
		<activity
			android:name="com.strvacademy.drabekj.movieapp.ui.startup.StartupActivity"
			android:screenOrientation="portrait" />
		<activity android:name="com.strvacademy.drabekj.movieapp.ui.signup.SignUpActivity" />
		<activity android:name="com.strvacademy.drabekj.movieapp.ui.login.LoginActivity" />
		<activity android:name="com.strvacademy.drabekj.movieapp.ui.allFilms.AllFilmsActivity" />
		<activity android:name="com.strvacademy.drabekj.movieapp.ui.moviedetail.YouTubeFullscreenActivity" />

		<meta-data
			android:name="io.fabric.ApiKey"
			android:value="4057c58e2257e2cfc66c494d16481df76234f390" />
	</application>

</manifest>